@model CongTyVanChuyen.Models.VANCHUYEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VANCHUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONVANCHUYEN.MaChuCuaHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVANCHUYEN.MaChuCuaHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIVANCHUYEN.TenLoaiVC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIVANCHUYEN.TenLoaiVC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHIPPER.TenShipper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHIPPER.TenShipper)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
