@model CongTyVanChuyen.Models.VOUCHER

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VOUCHER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phanTram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phanTram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toiDa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
