@model IEnumerable<CongTyVanChuyen.Models.VOUCHER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phanTram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toiDa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phanTram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toiDa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
